# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Python caches
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data files
*.db
*.sqlite
*.pickle

# Other
.DS_Store
report.html
